
/* footer{
    background-color: black;
    color:white;
   
    
} */
.footer {
    text-align: center;
    padding: 15px 0;
    background: #054f77;
    font-weight: bold;
    color: white;
    margin-top: 50px;    
}