<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active fixedheightimg">
        <img src="../../../assets/imagens/krakenimages-376KN_ISplE-unsplash.jpg" class="d-block w-100" style ="height: 700px">
      </div>
      
      <div class="carousel-item fixedheightimg">
        <img src="../../../assets/imagens/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="d-block w-100"  style = "height: 700px;"alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
