

<body>
  <div class="fundo">        
  
      <main>

          <h1 class="titulo">Seja Bem Vindo à Great People</h1>
          <form>
              <section class="login">                    
                  <img class="logo-login" src="../../../assets/imagem/pexels-fauxels-3184419.png"alt="">
                  <h2>Plataforma de Recrutamento e Seleção e mais para o seu RH em um só lugar!</h2> 
                  <p> Potencializamos o RH com soluções digitais de recrutamento, admissão e educação corporativa para impulsionar seus resultados.
                  </p>               
              </section>       
             
             
              <!-- <section class="inputs">                  
                  <input type="submit" value="Cadastre-se" class="botao-entrar">
              </section> -->

              <section class="empresas-parceiras">
                  <p>Grandes empresas confiam na Greate People</p>                    
                  <img class="logo-impacta" src="../../../assets/imagem/logo-impacta.png" alt="logo-impacta">
                  <img class="logo-scania" src="../../../assets/imagem/logo-scania-1024_400px.png" alt="logo-scania">
              </section>

              <section class="questionario">

              </section>
          </form>

          <section class="recrutamento">
              <img class="logo-recrutamento" src="../../../assets/imagem/logo-login.jpg" alt="">
              <div>
                  <h3>Recrutamento & Seleção</h3>
                  <p>Contrate com agilidade e otimize a gestão de seus processos seletivos. Desde a atração de talentos até a seleção final, nossa plataforma centraliza todo o recrutamento em um único lugar, com análise de dados e relatórios relevantes para a sua tomada de decisão.certa para cada vaga</p>
              </div>
              <div>
                  <h3>Admissão</h3>
                  <p>Construa uma experiência simples e digital de admissão. Centralize os dados, documentos e contratos dos seus pré-colaboradores em um só lugar - conte com nossa validação de documentos e obtenha assinatura eletrônica direto na plataforma. Foque no que mais importa e deixe o operacional com a gente.
              </div>
              <div>
                  <h3>Educação Corporativa</h3>
                  <p>Treine colaboradores de maneira eficiente e mensure resultados para o seu negócio. A Niduu fornece uma experiência interativa completa para o RH e para a pessoa colaboradora, com dados e indicadores de aprendizagem aliadas a um aplicativo super leve e fácil de usar.
              </div>
          </section>

          <section class="produtos">
              <h2>Como funcionam os produtos da Greate People</h2>
              <p>Potencialize os resultados do seu RH com recrutamento, admissão e desenvolvimento de talentos</p>

              <dl>
                  <dt>Requisitos  de vagas</dt>
                      <dd>Centralize as solicitações de vagas dos gestores em um só lugar</dd>
                  
                  <dt>Atração</dt>
                      <dd>Alcance milhares de candidatos em poucos cliques
                          Comunicação com banco de talentos módulo
                          Engaje potenciais pessoas candidatas com suas vagas e sua empresa por meio da segmentação e comunicação personalizada com o seu banco</dd>
                  
                  <dt>Triagem</dt>
                      <dd>Agilize seu processo de triagem e torne-o cada vez mais assertivo com nossa Inteligência Artificial</dd>
                  
                  <dt>Qualificação</dt>
                      <dd>Crie entrevistas estruturadas com diversos tipos de etapas e módulos</dd>
                  
                  <dt>Seleção</dt>
                      <dd>Aproveite a praticidade da avaliação colaborativa e nunca deixe um candidato sem feedback</dd>

                  <dt>Coleta de Documentos</dt>
                      <dd>Solicite e receba os documentos dos candidatos de forma prática</dd>

                  <dt>Checagem de documentos</dt>
                  <dd>Permita que pessoas pré-contratadas chequem seus próprios documentos</dd>

                  <dt>Boas-vindas</dt>
                  <dd>Engaje seus novos colaboradores desde o primeiro dia</dd>
              
              </dl>
          </section>

          
      </main>
          
  
     

  </div>    
</body>


<!-- <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active fixedheightimg">
        <img src="../../../assets/imagens/krakenimages-376KN_ISplE-unsplash.jpg" class="d-block w-100" style ="height: 700px">
      </div>
      
      <div class="carousel-item fixedheightimg">
        <img src="../../../assets/imagens/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="d-block w-100"  style = "height: 700px;"alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
