<table class="table table-striped text-center">
    <thead>
        <tr> 
            
            <th>NOME</th>
            <th>DATA NASCIMENTO</th>
            <th>CPF</th>
            <th>EMAIL</th>
            <th>TELEFONE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of candidatos">
            
            <td>{{c.nome}}</td>
            <td>{{c.dataNascimento | date : 'dd/MM/yyyy'}}</td>
            <td>{{c.cpf}}</td>
            <td>{{c.email}}</td>
            <td>{{c.telefone}}</td>
        </tr>
    </tbody>
</table>