
<div class="mb-3 alert alert-primary">
    <label class="form-laber">Busque o nome do Candidato</label>
    <input type="text" class="form-control" #busca (keyup)="0">
</div>

<table class="table table-striped text-center">
    <thead>
        <tr> 
            
            <th>NOME</th>
            <th>DATA NASCIMENTO</th>
            <th>CPF</th>
            <th>EMAIL</th>
            <th>TELEFONE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of candidatos | busca:busca.value">
            
            <td>{{c.nome}}</td>
            <td>{{c.dataNascimento | date : 'dd/MM/yyyy'}}</td>
            <td>{{c.cpf}}</td>
            <td>{{c.email}}</td>
            <td>{{c.telefone}}</td>
            <td>
                <a routerLink="/candidatos/remover/{{c.idEndereco}}">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>