<div class="text-center mb-5 ">
    <h2> CADASTRE-SE </h2>
</div>

<form class="row g-3" #f="ngForm">
    
    <div class="col-6 col-md-4">
      <label  class="form-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="candidato.nome" name="nome">
    </div>
    <div class="col-6 col-md-3">
      <label  class="form-label">CPF</label>
      <input type="text" class="form-control" [(ngModel)]="candidato.cpf" name="cpf">
    </div>
    <div class="col-6 col-sm-3">
      <label  class="form-label">Data Nascimento</label>
      <input type="date" class="form-control" [(ngModel)]="candidato.dataNascimento" name="datanascimento">
    </div>
    <div class="col-6 col-md-4">
      <label  class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="candidato.email" name="email">
    </div>
    <div class="col-6 col-sm-3">
      <label class="form-label">Telefone</label>
      <input type="text" class="form-control" [(ngModel)]="candidato.telefone" name="telefone">
    </div>
    <div class="col-6 col-sm-2 ">
        <label class="form-label">Sexo:</label>
        <select class="form-select" [(ngModel)]="candidato.idSexo" name="sexo">
            <option value="">SELECIONE</option>
            <option *ngFor="let s of sexos" [value]="s.id">
                {{s.descricao}}
            </option>
        </select>
    </div>
    <div class="col-sm-3">
        <label class="form-label">Escolaridade:</label>
        <select class="form-select" [(ngModel)]="candidato.idEscolaridade" name="escolaridade">
            <option value="">SELECIONE</option>
            <option *ngFor="let e of escolaridades" [value]="e.id">
                {{e.descricao}}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label">Logradouro:</label>
        <input type="text" class="form-control" [(ngModel)]="candidato.logradouro" name="logradouro" placeholder="Rua, Av,...">
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Numero</label>
      <input type="text" class="form-control" [(ngModel)]="candidato.numero" name="numero">
    </div>
    <div class="col-md-2">
        <label class="form-label">Cep:</label>
        <input type="text" class="form-control" [(ngModel)]="candidato.cep" name="cep">
    </div>
    <div class="col-md-4">
        <label class="form-label">Cidade:</label>
        <input type="text" class="form-control" [(ngModel)]="candidato.cidade" name="cidade">
    </div>
    <div class="col-sm-2"> 
        <label class="form-label">UF:</label>
        <input type="text" class="form-control"[(ngModel)]="candidato.uf" name="uf">
    </div>

    <div class="col-12">
        <button class="btn btn-primary but"(click)="incluir(candidato)">INCLUIR CANDIDATO</button>
        <button class="btn btn-secondary"(click)="fechar()">VOLTAR</button>
    </div>
    
  </form>

