article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
}
.fundo{
    background: #054f77;
    padding: 20px 0;   
    width: 100%;    
}
